-- system.rc - Standalone system conky with lua bars, gradbars, and background
-- v1 01 2026-03-06 @rew62

conky.config = {
  --Various settings

  -- background = false, 				-- forked to background
  -- cpu_avg_samples = 2,				-- The number of samples to average for CPU monitoring. 
  -- diskio_avg_samples = 10,			-- The number of samples to average for disk I/O monitoring. 
  double_buffer = true,				-- Use the Xdbe extension? (eliminates flicker) 
  -- if_up_strictness = 'address',			-- how strict if testing interface is up - up, link or address
  -- net_avg_samples = 2,				-- The number of samples to average for net data 
  no_buffers = true,				-- Subtract (file system) buffers from used memory? 
  -- temperature_unit = 'celsius',			-- fahrenheit or celsius
  text_buffer_size = 2048,			-- size of buffer for display of content of large variables - default 256
  update_interval = 1,				-- update interval
  -- imlib_cache_size = 0,                       	-- disable image cache to get a new spotify cover per song
  
  --Placement
  
  alignment = 'ml',			-- top-left,top-middle,top-right,bottom-left,bottom-middle,bottom-right,
  						-- middle-left,middle-middle,middle-right,none
  gap_x = 10,					-- pixels between right or left border
  gap_y = 10,					-- pixels between bottom or left border
  minimum_height = 445,				-- minimum height of window
  minimum_width = 195,				-- minimum height of window
  maximum_width = 195,				-- maximum height of window
  
  --Graphical
  
  --border_inner_margin = 5, 			-- margin between border and text
  -- border_outer_margin = 1, 			-- margin between border and edge of window
  --border_width = 1, 				-- border width in pixels
  default_bar_width = 80,			-- default is 0 - full width					
  default_bar_height = 5,			-- default is 6
  -- default_gauge_height = 25,			-- default is 25
  -- default_gauge_width =40,			-- default is 40
  default_graph_width = 80,			-- default is 0 - full width
  default_graph_height = 15,			-- default is 25
  -- default_shade_color = '#000000',		-- default shading colour
  -- default_outline_color = '#000000',		-- default outline colour
  -- draw_borders = true,				-- draw borders around text
  -- draw_graph_borders = true,			-- draw borders around graphs
  -- draw_shades = false,			-- draw shades
  -- draw_outline = false,			-- draw outline
  -- stippled_borders = 0,			-- dashing the border
  
  --Textual
  	
  -- extra_newline = false,			-- extra newline at the end - for asesome's wiboxes
  -- format_human_readable = true,		-- KiB, MiB rather then number of bytes
  -- font = 'SourceSansPro-ExtraLight:size=11:oblique',  -- font for complete conky unless in code defined
  -- max_text_width = 0,			-- 0 will make sure line does not get broken if width too smal
  -- max_user_text = 16384,			-- max text in conky default 16384
  override_utf8_locale = true,			-- force UTF8 requires xft
  short_units = true,				-- shorten units from KiB to k
  -- top_name_width = 21,			-- width for $top name value default 15
  -- top_name_verbose = false,			-- If true, top name shows the full command line of  each  process - Default value is false.
  -- uppercase = false,				-- uppercase or not
  -- use_spacer = 'none',			-- adds spaces around certain objects to align - default none
  use_xft = true,				-- xft font - anti-aliased font
  xftalpha = 1,					-- alpha of the xft font - between 0-1
  
  --Windows
  
  own_window = true,				-- create your own window to draw
  -- --own_window_argb_value = 150,		-- real transparency - composite manager required 0-255
  own_window_argb_visual = true,		-- use ARGB - composite manager required
  own_window_class = 'Conky',			-- manually set the WM_CLASS name for use with xprop
  own_window_colour = 'FFFFFF',			-- set colour if own_window_transparent no
  own_window_hints = 'undecorated,below,above,sticky,skip_taskbar,skip_pager',  -- if own_window true - just hints - own_window_type sets it
  own_window_transparent = true,		-- True/False. If own_window_argb_visual is true sets background opacity 0%
  -- own_window_title = 'system_conky',		-- set the name manually  - default conky "hostname"
  --own_window_type = 'panel',			-- if own_window true options are: normal/override/dock/desktop/panel
  own_window_type = 'normal',			-- if own_window true options are: normal/override/dock/desktop/panel
  	
  --Colors
  
  default_color = '8FBC8F',
  color1 = '98FB98',  -- PaleGreen
  color2 = '2E8B57',  -- SeaGreen
  color3 = 'ADFF2F',  -- GreenYellow
  color4 = 'ECF0F1',  -- white
  color5 = 'F0E68C',  -- khaki1
   
  -- Fonts (Renumbered)
  font = 'Ubuntu Mono',
  font2 = 'JetBrains Mono:bold:size=9',
  font3 = 'Fira Code:size=10',
  font4 = 'Liberation Sans:size=11',
  font5 = 'IBM Plex Mono:size=11',
  font6 = 'Noto Sans:size=14',
  font7 = 'DejaVu Sans:size=11',
   
  -- Templates
  template1 = "eth0",					-- LAN interface name
  template2 = [[${color1}\1: ${color4}]],

  -- Lua Scripts
  lua_load = './settings.lua scripts/loadall.lua',
  lua_draw_hook_post = 'main',
  lua_startup_hook = 'vars',
}  

conky.text = [[
#-----------------------System Information -----------------------
${font Good Times:size=10}${color1}${goto 9}SYSTEM${alignr 5}${font2}up: ${color4}$uptime_short  ${voffset -5}${color #86BE43}${font Hack Nerd Font:size=18}󰣭   
${voffset -12}${font2}${color1}${goto 8}User${alignr 5}${color4}${exec whoami}@$nodename
${color1}${goto 10}OS${alignr 5]${color4}${execi 86400 lsb_release -ds}${color1}
${color1}${goto 10}Kernel$[alignr 5}${color4}${kernel}
${color1}${goto 10}DE${alignr 5}${color4}${exec echo $XDG_CURRENT_DESKTOP} (${execi 3600 xrandr --current | grep -oP '\d+x\d+(?=.+\*)'})
#----------------------- CPU -----------------------
# CPU0
${font Good Times:size=10}${color1}${goto 8}CPU:${voffset -5} ____________________________ ${voffset 5}
${font3}${color orange}${execi 86400 grep -m1 -oP '^model name\s+:\s+\K.*' /proc/cpuinfo}
${goto 8}${template2 Proc}${goto 75}${execi 2 bash -lc 'ps -Ao pid= | wc -l'} ${alignr 5}${color1}Running: ${color4}${execi 2 bash -lc 'ps -Ao state= | tr -cd R | wc -c'}
${goto 8}${template2 Load}${alignr 5}${freq_g}GHz - ${cpu cpu0}%
${lua gradbar {8, 155, "${cpu cpu0}", 100, 62, 2, 20, 1, 0xFFFFFF, 0.25, 0x00FF00, 1, 0xFFFF00, 1, 0xFF0000, 1}}
${voffset 3}${goto 8}${cpugraph cpu0 20,185 40DA66 FF1493}
${voffset -9}${color}Name${goto 83}CPU%${goto 123}MEM%${goto 168}PID
${font2}${color1} ${top name 1} ${goto 80}${color4}${top cpu 1} ${goto 120}${top mem 1} ${goto 155}${top pid 1}
${color1} ${top name 2} ${goto 80}${color4}${top cpu 2} ${goto 120}${top mem 2} ${goto 160}${top pid 2}
${color1} ${top name 3} ${goto 80}${color4}${top cpu 3} ${goto 120}${top mem 3} ${goto 160}${top pid 3}
#${color}CPU %:${color1} $cpu% ${cpubar cpu0 5,525}${alignr}${color}CPU Frequency:${color1} $freq${color} MHz
#----------------------- MEMORY -----------------------
${voffset 4}${font Good Times:size=10}${color1}MEMORY:${voffset -5} ______________________ ${voffset 5}
${font3}${template2 RAM}${font2}$alignr${mem}  ${memmax}
${lua gradbar {6, 315, "${memperc}", 100, 64, 2, 15, 1, 0xFFFFFF, 0.25, 0x00FF00, 1, 0xFFFF00, 1, 0xFF0000, 1}}
${voffset 10}${font Good Times:size=10}${color1}FILE SYSTEM:${voffset -5} _____________________________ ${voffset 5}
${font2}${color1}File Sys:$alignr Free  /  Used  /  Max
$alignr${color4}${fs_free /} / ${fs_used /} / ${fs_size /}
${voffset 20}${font2}${color1}${goto 10}Disk I/O:${goto 85}${color1}R: ${color4}${diskio_read}${goto 145}${color1}W: ${color4}${diskio_write }
${lua gradbar {6, 390, "${fs_used_perc}", 100, 64, 2, 15, 1, 0xFFFFFF, 0.25, 0x00FF00, 1, 0xFFFF00, 1, 0xFF0000, 1}}
${voffset -40}]]
