-- earth-standalone.rc - Conky script to display a larger earth in the middle of the screen
-- v2 01 2026-02-27 @rew62

conky.config = {
    -- Window settings
    own_window = true,
    --own_window_type = 'desktop',
    own_window_type = 'normal',
    own_window_transparent = true,
    own_window_argb_visual = true,
    own_window_argb_value = 0,
    own_window_hints = 'undecorated,below,sticky,skip_taskbar,skip_pager',
    
    -- Position and size
    alignment = 'top_right',
    gap_x = 10,
    gap_y = 230,
    minimum_height = 200,
    minimum_width = 200,
    --maximum_width = 200,
    
    -- Graphics settings
    draw_borders = false,
    draw_outline = false,
    draw_shades = false,
    draw_graph_borders = false,
    
    -- Text settings
    use_xft = true,
    font = 'DejaVu Sans:size=10',
    xftalpha = 1,
    uppercase = false,
    
    -- Colors
    default_color = 'ffffff',
    color1 = '98FB98',  -- PaleGreen
    color2 = 'b8a8d0',  -- Lighter purple for inactive days
    color3 = 'f5f5f5',  -- White for main date
    --color4 = '39FF14',  -- Soft green for circle
    color4 = 'ffffff',  -- White for active text
    color5 = '4CAF50',  -- Material Design Green

    -- Fonts
    font3 = 'Good Times:size=12',

    -- Update settings
    update_interval = 1,
    total_run_times = 0,
    
    -- Performance
    double_buffer = true,
    no_buffers = true,
    
    -- Padding
    border_inner_margin = 10,
    border_outer_margin = 0,

    -- Lua Load
    --lua_load = './settings.lua ./scripts/background.lua ./scripts/image2.lua',
    lua_load = './settings.lua ./scripts/loadall.lua',
    --lua_draw_hook_pre = 'conky_draw_background',

     lua_draw_hook_pre  = 'conky_draw_background',
     lua_draw_hook_post = 'conky_draw_image /dev/shm/earth.png 25 20 175 175',
};

conky.text = [[
${voffset -5}${goto 15}${color1}${font3} Earth
${voffset -25}${alignr 10}${font DejaVu Sans:size=7}${color1}${execi 10 date -r /dev/shm/earth.png "+%-m/%-d/%Y%-I:%M%p" | sed 's/AM/a/;s/PM/p/'}
#${image /dev/shm/earth.png -p 15,10 -s 175x175}
#${lua fDrawImage /dev/shm/earth.png 0 0 200 200}
#${lua fDrawImage /dev/shm/earth-light.png 20 10 300 300}
]]
